.open {
  position: absolute;
  bottom: 2em;
  left: 0.5em;
  z-index: 1;
}

.open:hover {
  cursor: pointer;
}

.primary-navigation, .secondary-navigation {
  z-index: 2;
}

.ant-drawer.ant-drawer-left.ant-drawer-open {
  z-index: 3;
}

.ant-list-item-content.ant-list-item-content-single {
  display: flex;
  flex-direction: column;
}

.ant-list {
  margin-top: 1em;
}

.cohorts-dropdown svg {
  width: 15px;
  height: 15px;
}

.good {
  background-color: #F2FFF4;
}

.ok {
  background-color: #EAE151;
}

.bad {
  background-color: #F9627D;
}

input.total {
  width: 20%;
}
